<div class="vertical-center-row">
  
  <div class="login-container">

    <form class="login-form">
      <h1>Forgot Password</h1>
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="text" id="inputEmail" class="form-control" placeholder="Your registered email" required autofocus>
      
      <button class="btn btn-primary btn-block" type="submit" ng-click="passwordResetLink.handle()">Send me reset link</button>
    </form>

    <div class="login-help">
        <a href="#/">Login</a>
    </div>

  </div> <!-- login container -->

  
  </div>

</div> <!-- /container -->